div 
    form( method="POST" action='/new') 
        div
            input(type="text" name="messageUser" placeholder = "author")
        div 
            input(type="text" name="messageText" placeholder = "message")
        div 
        input(type="submit")
