extends layout 

block content 
    header 
        h1= "Mini messageboard" 
        p= 'Post a message, feel free!'
    main 
        section.form-container
            div 
                form( method="POST" action='/new') 
                    div 
                        input(type="text", name="text", placeholder = "title")
                    div
                        input(type="text", name="user", placeholder = "name")
                    div 
                        textarea(name="details", cols="30", rows="10") 
                    div
                    button(type="submit")= 'Post Message'
                div 
                    a(href="/")
                        button="Go back" 
